body {
    background-color: rgb(15, 15, 15);
    margin: 0;
    padding: 0;
}

/* Navigation var styles */

.navbar_section {
    background-color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;


}

.navbar_container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.item--logo {
    display: flex;
    align-items: center;
}

.casino_logo {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bolder;
    font-size: 26px;
}

.container_logs {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}


.login--bttn {
    background-color: rgb(255, 208, 0);
    text-decoration: none;
    color: rgb(28, 28, 28);

    border: none;
    border-radius: 20px;

    padding: 10px 20px;

    
}




/* Sign in styles */

.form_container{
    width: 600px;
    background-color: black;
    box-shadow: 0 10px 28px rgb(0, 0, 0);
    border-radius: 10px;

    margin: auto;
    margin-top: 4%;
    
    box-sizing: border-box;
    padding: 30px 80px;
}



h2{
    color: rgb(255, 208, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 34px;
    text-align: center;
}

.items--container{
    width: 100%;
    background-color: transparent;
}

.name--container {
    display: flex;
    flex-direction: row;

    box-sizing: border-box;
    gap: 3%;
}

.name--input {
    background-color: rgb(28, 28, 28);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;

    padding: 10px 30px 10px 5px;

}


.item--label {
    color: rgb(255, 208, 0);
    font-family: sans-serif;

    display: block;

    margin-bottom: 5px;
    margin-top: 15px;
}



.input {
    width: 100%;

    border: none;
    border-radius: 10px;
    background-color: rgb(28, 28, 28);
    color: whitesmoke;

    padding: 10px 5px;
}

.date--input {
    background-color: rgb(28, 28, 28);
    color: rgb(106, 106, 106);
    border: none;
    border-radius: 10px;

    width: 30%;

    padding: 10px 5px;
}

.day--input {
    margin: 0;
}

.month--input, .year--input {
    margin-left: 4%;
}

.submit--item {
    width: 100%;

    border: none;
    border-radius: 10px;
    background-color: rgb(255, 208, 0);

    font-weight: bolder;

    padding: 10px 0;
    margin-top: 20px;
}

.submit--item:hover {
    background-color: rgb(219, 179, 0);
}

.google-bttn {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    text-align: center;

    width: 100%;
    display: inline-block;
    padding: 10px 0;

    margin-top: 20px;
}

.google-bttn:hover {
    background-color: rgb(230, 230, 230);
}

.google-bttn span {
    font-weight: bolder;
}

